<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss} %logger{1}.%M | %L] - %msg%n"/>
        </Console>

        <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
            <!-- in the absence of the class attribute, it is assumed that the
                 desired discriminator type is
                 ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
            <discriminator>
                <key>userid</key>
                <defaultValue>unknown</defaultValue>
            </discriminator>
            <sift>
                <appender name="FILE-${userid}" class="ch.qos.logback.core.FileAppender">
                    <file>${userid}.log</file>
                    <append>false</append>
                    <layout class="ch.qos.logback.classic.PatternLayout">
                        <pattern>%d [%thread] %level %mdc %logger{35} - %msg%n</pattern>
                    </layout>
                </appender>
            </sift>
        </appender>
    </Appenders>
    <Loggers>
        <Logger name="org.jevis.api.sql" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.jevis.jeconfig.application.sql" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.jevis.jeconfig" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.jevis.jeapi.ws" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.jevis.jeconfig.plugin.dashboard.widget" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
