<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <Append>false</Append>
    <file>JEProcessor.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="org.jevis.api.sql" level="error"/>
  <root level="DEBUG">
    <appender-ref ref="A1"/>
    <appender-ref ref="FILE"/>
	<appender-ref ref="STDOUT"/>
  </root>
</configuration>