<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://$jevisserver/jeviscc/$outputFile?nocache=true">

<information>
#if($project.name)
    <title>$project.name</title>
#end
#if($project.Organization.Name)
    <vendor>$project.Organization.Name</vendor>
#end
#if($project.Description)
    <description>$project.Description</description>
#end
#if($project.Url)
    <homepage href="$project.Url"/>
#end

	<!-- 
	<icon href="icon.png" kind="default" />
	<icon href="splash.png" kind="splash" />
	-->

</information>

<security>
     <all-permissions/>
     <j2ee-application-client-permissions/>
</security>

<resources>
    <j2se version="1.8+" href="http://java.sun.com/products/autodl/j2se" />
    $dependencies
</resources>

  <jfx:javafx-desc main-class="org.jevis.jeconfig.JEConfig"  name="JEConfig">
          <fx:param name="datasource.class" value="org.jevis.jeapi.ws.JEVisDataSourceWS"/>
          <fx:param name="datasource.host" value="http://$jevisserver:8000"/>
          <fx:param name="fxlogin.logo" value="http://$jevisserver/images/logo.jpg"/>
          <fx:param name="fxlogin.css" value="http://$jevisserver/css/fxlogin.css"/>
          <fx:param name="fxlogin.register" value="off"/>
          <fx:param name="jeconfig.welcomeurl" value="http://www.openjevis.org"/>       
  </jfx:javafx-desc>


</jnlp>
