<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="JEVis Energy Monitoring Software" name="description">
    <meta content="env" name="author">
    <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control"/>
    <meta content="no-cache" http-equiv="Pragma"/>
    <meta content="0" http-equiv="Expires"/>

    <link href="img/favicon.ico" rel="icon">
    <title>JEVis Energy Monitoring</title>

</head>

<body style="background: #efefef; font-family: 'Calibri'; font-weight: 300; line-height: 26px; color: #000;">
<div style="margin-left: auto; margin-right: auto; max-width: 980px; padding: 0 35px; box-sizing: border-box; display: block;">
    <div style="margin-top: 35px; margin-bottom: 70px; display: block;">
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="index.html" target="_self">
                <img src="img/de.gif" style="width: 33px;">
            </a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="index_en.html" target="_self">Home</a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="pp_en.html" target="_self">Privacy Policy</a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="imprint_en.html" target="_self">Imprint</a>
        </div>
        <a href="" target="_blank">
            <img src="img/logo.png"
                 style="box-sizing: border-box; max-width: 100%; height: auto; vertical-align: middle; overflow-clip-margin: content-box; overflow: clip; width: 310px;">
        </a>
    </div>
    <div style="display: block;">
        <p><strong>Information in accordance with Section 5 TMG</strong></p>
        <p>Envidatec GmbH<br>Veritaskai 2<br>21079 Hamburg</p>
        <p><strong>Represented by:</strong><br>Thomas Frank, Peer Schuback</p>
        <p><strong>Contact</strong></p>
        <p>Phone: +49 (0) 40 / 30 08 57 – 0<br>Telefax: +49 (0) 40 / 30 08 57 – 70<br>Mail: info@envidatec.com</p>
        <p><strong>Register entry:</strong><br>Entry in the commercial register. Registration court: Hamburg District
            Court Registration number: HRB 80977</p>
        <p><strong>VAT ID:</strong></p>
        <p>VAT ID: DE 216 522 473</p>
        <p><strong>Responsible for the content according to Section 55 Para. 2 RStV</strong></p>
        <p>Envidatec GmbH<br>Veritaskai 2<br>21079 Hamburg</p>
        <p><strong>Dispute resolution</strong></p>
        <p>The European Commission provides a platform for online dispute resolution (OS):&nbsp;<a
                href="https://ec.europa.eu/consumers/odr" rel="noreferrer noopener" target="_blank">https://ec.europa.eu/consumers/odr</a>.<br>You
            can find our email address above in the legal notice.</p>
        <p>We are not willing or obliged to take part in dispute resolution proceedings before a consumer arbitration
            board.</p>
        <p><strong>Liability for content</strong></p>
        <p>As a service provider, we are responsible for our own content on these pages in accordance with general laws
            in accordance with Section 7 Paragraph 1 TMG. However, according to Sections 8 to 10 TMG, as a service
            provider we are not obliged to monitor transmitted or stored third-party information or to investigate
            circumstances that indicate illegal activity.</p>
        <p>Obligations to remove or block the use of information in accordance with general laws remain unaffected.
            However, liability in this regard is only possible from the time of knowledge of a specific legal violation.
            If we become aware of any corresponding legal violations, we will immediately remove this content.</p>
        <p><strong>Liability for links</strong></p>
        <p>Our offer contains links to external third-party websites over whose content we have no influence. We
            therefore cannot assume any liability for this external content. The respective provider or operator of the
            pages is always responsible for the content of the linked pages. The linked pages were checked for possible
            legal violations at the time of linking. Illegal content was not apparent at the time of linking.</p>
        <p>However, permanent control of the content of the linked pages is unreasonable without concrete evidence of a
            legal violation. If we become aware of any legal violations, we will immediately remove such links.</p>
        <p><strong>Copyright</strong></p>
        <p>The content and works on these pages created by the site operators are subject to German copyright law.
            Reproduction, processing, distribution and any kind of exploitation outside the limits of copyright law
            require the written consent of the respective author or creator. Downloads and copies of this page are only
            permitted for private, non-commercial use.</p>
        <p>If the content on this site was not created by the operator, the copyrights of third parties are respected.
            In particular contents of third parties are marked as such. Should you nevertheless become aware of a
            copyright infringement, we ask that you notify us accordingly. If we become aware of any legal violations,
            we will immediately remove such content.</p>
    </div>
</body>
</html>