<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="JEVis Energy Monitoring Software" name="description">
    <meta name="author" content="env">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <link rel="icon" href="img/favicon.ico">
    <title>JEVis Energy Monitoring</title>

</head>


<body style="background: #efefef; font-family: 'Calibri'; font-weight: 300; line-height: 26px; color: #000;">
<div style="margin-left: auto; margin-right: auto; max-width: 980px; padding: 0 35px; box-sizing: border-box; display: block;">
    <div style="margin-top: 35px; margin-bottom: 70px; display: block;">
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="index_en.html" target="_self">
                <img src="img/en.gif" style="width: 33px;">
            </a>
            </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="" target="_self">Startseite</a>
            </div>
        <a href="" target="_blank">
            <img src="img/logo.png"
                 style="box-sizing: border-box; max-width: 100%; height: auto; vertical-align: middle; overflow-clip-margin: content-box; overflow: clip; width: 310px;">
        </a>
    </div>
    <div style="display: block;">
        <h2>Download</h2>
        <p style="margin-top: 20px;"><strong>Launcher (empfohlen, Auto-Update) </strong><a
                href="jel/JEVisLauncher.application" target="_blank">Download</a> / <a href="https://www.jevis.de"
                                                                                       target="_blank">Anleitung</a></p>
        <p style="margin-top: 20px;"><strong>Installer (kein Auto-Update, benötigt Server Konfigurationsdatei) </strong><a
                href="jel2/JEVisInstaller.appinstaller" target="_blank">Download</a> / <a href="www.jevis.de"
                                                                                          target="_blank">Anleitung</a>
        </p>
        </div>

</div>

</body>

</html>