<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="JEVis Energy Monitoring Software" name="description">
    <meta content="env" name="author">
    <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control"/>
    <meta content="no-cache" http-equiv="Pragma"/>
    <meta content="0" http-equiv="Expires"/>

    <link href="img/favicon.ico" rel="icon">
    <title>JEVis Energy Monitoring</title>

</head>


<body style="background: #efefef; font-family: 'Calibri'; font-weight: 300; line-height: 26px; color: #000;">
<div style="margin-left: auto; margin-right: auto; max-width: 980px; padding: 0 35px; box-sizing: border-box; display: block;">
    <div style="margin-top: 35px; margin-bottom: 70px; display: block;">
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="index.html" target="_self">
                <img src="img/de.gif" style="width: 33px;">
            </a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="" target="_self">Home</a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="pp_en.html" target="_self">Privacy Policy</a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="imprint_en.html" target="_self">Imprint</a>
        </div>
        <a href="" target="_blank">
            <img src="img/logo.png"
                 style="box-sizing: border-box; max-width: 100%; height: auto; vertical-align: middle; overflow-clip-margin: content-box; overflow: clip; width: 310px;">
        </a>
    </div>
    <div style="display: block;">
        <h2>Download</h2>
        <p style="margin-top: 20px;"><strong>Launcher (recommended, Auto-Update) </strong><a
                href="jel/JEVisLauncher.application" target="_blank">Download</a> / <a href="www.jevis.de"
                                                                                       target="_blank">Manual</a></p>
        <p style="margin-top: 20px;"><strong>Installer (no Auto-Update, needs Server Configuration file) </strong><a
                href="jel2/JEVisInstaller.appinstaller" target="_blank">Download</a> / <a href="www.jevis.de"
                                                                                          target="_blank">Manual</a></p>
    </div>

</div>

</body>

</html>