<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="JEVis Energy Monitoring Software" name="description">
    <meta content="env" name="author">
    <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control"/>
    <meta content="no-cache" http-equiv="Pragma"/>
    <meta content="0" http-equiv="Expires"/>

    <link href="img/favicon.ico" rel="icon">
    <title>JEVis Energy Monitoring</title>
</head>

<body style="background: #efefef; font-family: 'Calibri'; font-weight: 300; line-height: 26px; color: #000;">
<div style="margin-left: auto; margin-right: auto; max-width: 980px; padding: 0 35px; box-sizing: border-box; display: block;">
    <div style="margin-top: 35px; margin-bottom: 70px; display: block;">
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="index_en.html" target="_self">
                <img src="img/en.gif" style="width: 33px;">
            </a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="index.html" target="_self">Startseite</a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="pp.html" target="_self">Datenschutz</a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="imprint.html" target="_self">Impressum</a>
        </div>
        <a href="" target="_blank">
            <img src="img/logo.png"
                 style="box-sizing: border-box; max-width: 100%; height: auto; vertical-align: middle; overflow-clip-margin: content-box; overflow: clip; width: 310px;">
        </a>
    </div>
    <div style="display: block;">
        <p><strong>Einleitung und allgemeine Angaben</strong></p>
        <p>Vielen Dank für Ihr Interesse an unserer Website. Der Schutz Ihrer personenbezogenen Daten ist uns ein sehr
            wichtiges Anliegen. Im Folgenden finden Sie Informationen zum Umgang mit Ihren Daten, die durch Ihre Nutzung
            unserer Website erfasst werden. Die Verarbeitung Ihrer Daten erfolgt entsprechend den gesetzlichen
            Regelungen zum Datenschutz.</p>
        <p><strong>Verantwortlicher im Sinne der DSGVO</strong></p>
        <p>Envidatec GmbH<br>Veritaskai 2<br>21079 Hamburg</p>
        <p>Telefon: +49 (0) 40 / 30 08 57 – 0</p>
        <p>E-Mail: info@envidatec.com</p>
        <p><strong>Kontaktdaten des Datenschutzbeauftragten</strong></p>
        <p>Proliance GmbH / www.datenschutzexperte.de<br>Dominik Fünker<br>Leopoldstr. 21<br>80802 München<br>datenschutzbeauftragter@<br>datenschutzexperte.de
        </p>
        <p><strong>Begriffsbestimmungen</strong></p>
        <p>Unsere Datenschutzerklärung soll für jedermann einfach und verständlich sein. In dieser Datenschutzerklärung
            werden in der Regel die offiziellen Begriffe der Datenschutzgrundverordnung (DSGVO) verwendet. Die
            offiziellen Begriffsbestimmungen werden in Art. 4 DSGVO erläutert.</p>
        <p><strong>Webhosting</strong></p>
        <p>Diese Website wird bei einem externen Dienstleister gehostet (Hoster). Das Hosting dieser Website erfolgt in
            Deutschland. Personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf den Servern des
            Hosters gespeichert. Hierbei kann es sich v. a. um IP-Adressen, Kontaktanfragen, Meta- und
            Kommunikationsdaten, Webseitenzugriffe und sonstige Daten, die über eine Website generiert werden, handeln.&nbsp;</p>
        <p>Wir haben mit dem Provider einen Auftragsverarbeitungsvertrag gemäß den Vorgaben nach Art. 28 DSGVO
            geschlossen, in welchem wir ihn verpflichten, die Daten unserer Kunden zu schützen und sie nicht an Dritte
            weiterzugeben.</p>
        <p><strong>Server-Logfiles</strong></p>
        <p>Wenn Sie unsere Website aufrufen, ist es technisch notwendig, dass über Ihren Internetbrowser Daten an
            unseren Webserver übermittelt werden. Folgende Daten werden während einer laufenden Verbindung zur
            Kommunikation zwischen Ihrem Internetbrowser und unserem Webserver aufgezeichnet:</p>
        <ul>
            <li>Datum und Uhrzeit der Anforderung</li>
            <li>Name der angeforderten Datei</li>
            <li>Seite, von der aus die Datei angefordert wurde</li>
            <li>Zugriffsstatus</li>
            <li>Verwendeter Webbrowser und verwendetes Betriebssystem</li>
            <li>IP-Adresse des anfordernden Rechners</li>
            <li>Übertragene Datenmenge</li>
        </ul>
        <p>Die aufgelisteten Daten erheben wir, um einen reibungslosen Verbindungsaufbau der Website zu gewährleisten
            und eine komfortable Nutzung unserer Website durch die Nutzer zu ermöglichen. Zudem dient die Logdatei der
            Auswertung der Systemsicherheit und -stabilität sowie administrativen Zwecken. Rechtsgrundlage für die
            vorübergehende Speicherung der Daten bzw. der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.<br>Aus Gründen der
            technischen Sicherheit, insbesondere zur Abwehr von Angriffsversuchen auf unseren Webserver, werden diese
            Daten von uns kurzzeitig gespeichert. Anhand dieser Daten ist uns ein Rückschluss auf einzelne Personen
            nicht möglich. Nach spätestens sieben Tagen werden die Daten durch Verkürzung der IP-Adresse auf Domainebene
            anonymisiert, sodass es nicht mehr möglich ist, einen Bezug zum einzelnen Nutzer herzustellen.<br>In
            anonymisierter Form werden die Daten daneben ggf. zu statistischen Zwecken verarbeitet. Eine Speicherung
            dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers, ein Abgleich mit anderen
            Datenbeständen oder eine Weitergabe an Dritte findet zu keinem Zeitpunkt statt.</p>
        <p><strong>Cookies</strong></p>
        <p>Unsere Internetseite verwendet sogenannte „Cookies“. Cookies sind kleine Textdateien, die entweder
            vorübergehend für die Dauer einer Sitzung (Session-Cookies) oder dauerhaft (permanente Cookies) auf Ihrem
            Endgerät gespeichert werden. Session-Cookies werden nach Ende Ihres Besuchs automatisch gelöscht. Permanente
            Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie diese selbst löschen oder eine automatische Lösung
            durch Ihren Webbrowser erfolgt.</p>
        <p>Cookies haben verschiedene Funktionen. Zahlreiche Cookies sind technisch notwendig, da bestimmte
            Webseitenfunktionen ohne diese nicht funktionieren würden (z.B. die Warenkorbfunktion oder
            Spracheinstellungen). Andere Cookies dienen dazu, das Nutzerverhalten auszuwerten oder Werbung
            anzuzeigen.</p>
        <p>Technisch notwendige Cookies werden auf Grundlage von Art. 6 Abs. 1&nbsp;lit. f DSGVO gespeichert. Wir haben
            ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten
            Bereitstellung unserer Dienste. Andere Cookies werden nur mit Ihrer Einwilligung auf Grundlage von Art. 6
            Abs. 1&nbsp;lit. a DSGVO gespeichert. Die Einwilligung ist jederzeit für die Zukunft widerrufbar. Die
            Rechtsgrundlage kann sich auch aus Art. 6 Abs. 1&nbsp;lit. b DSGVO ergeben, falls die Verarbeitung für die
            Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur Durchführung
            vorvertraglicher Maßnahmen erforderlich ist, die auf Anfrage der betroffenen Person erfolgen.</p>
        <p>Soweit Cookies zu Analysezwecken eingesetzt werden, werden wir Sie hierüber im Rahmen dieser
            Datenschutzerklärung gesondert informieren und eine Einwilligung einholen.</p>
        <p>Sie können Ihren Browser so einstellen, dass Sie</p>
        <ul>
            <li>über das Setzen von Cookies informiert werden,&nbsp;&nbsp;</li>
            <li>Cookies nur im Einzelfall erlauben,&nbsp;&nbsp;</li>
            <li>die Annahme von Cookies für bestimmte Fälle oder generell ausschließen,&nbsp;</li>
            <li>das automatische Löschen der Cookies beim Schließen des Browsers aktivieren.&nbsp;&nbsp;</li>
        </ul>
        <p>Die Cookie-Einstellungen können unter den folgenden Links für die jeweiligen Browser verwaltet werden:</p>
        <ul>
            <li><a href="http://support.google.com/chrome/bin/answer.py?hl=de&amp;hlrm=en&amp;answer=95647"
                   target="_blank">Google Chrome</a>&nbsp;
            </li>
            <li><a href="https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen" target="_blank">Mozilla
                Firefox</a>&nbsp;
            </li>
            <li><a href="http://windows.microsoft.com/de-DE/windows-vista/Block-or-allow-cookies" target="_blank">Edge
                (Microsoft)</a>&nbsp;
            </li>
            <li><a href="https://support.apple.com/de-de/guide/safari/sfri11471/mac" target="_blank">Safari</a>&nbsp;
            </li>
            <li><a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank">Opera</a>&nbsp;&nbsp;
            </li>
        </ul>
        <p>Sie können Cookies vieler Unternehmen und Funktionen, die für Werbung eingesetzt werden, auch einzeln
            verwalten. Verwenden Sie dazu die entsprechenden Nutzer-Tools, abrufbar unter
            https://www.aboutads.info/choices/ oder <a href="http://www.youronlinechoices.com/uk/your-ad-choices"
                                                       rel="noreferrer noopener" target="_blank">hier</a>.</p>
        <p>Die meisten Browser bieten zudem eine sog.&nbsp;„Do-Not-Track-Funktion“ an.&nbsp;Wenn diese Funktion
            aktiviert ist, teilt der jeweilige Browser Werbenetzwerken, Websites und Anwendungen mit, dass Sie nicht
            zwecks verhaltensbasierter Werbung und Ähnlichem „verfolgt“ werden möchten.</p>
        <p>Informationen und Anleitungen, wie Sie diese Funktion bearbeiten können, erhalten Sie je nach Anbieter Ihres
            Browsers, unter den nachfolgenden Links:</p>
        <ul>
            <li><a href="https://support.google.com/chrome/answer/2790761?co=GENIE.Platform=Desktop&amp;hl=de"
                   target="_blank">Google Chrome</a>&nbsp;
            </li>
            <li><a href="https://www.mozilla.org/de/firefox/dnt/" target="_blank">Mozilla Firefox</a>&nbsp;&nbsp;</li>
            <li><a href="https://support.microsoft.com/de-de/help/17288/windows-internet-explorer-11-use-do-not-track"
                   target="_blank">Edge (Microsoft)</a>&nbsp;&nbsp;&nbsp;
            </li>
            <li><a href="https://support.apple.com/de-de/guide/safari/sfri40732/13.0/mac/10.15"
                   target="_blank">Safari</a>&nbsp;
            </li>
            <li><a href="http://help.opera.com/Windows/12.10/de/notrack.html" target="_blank">Opera</a>&nbsp;</li>
        </ul>
        <p>Zusätzlich können Sie standardmäßig das Laden sog. Scripts verhindern. „NoScript“ erlaubt das Ausführen von
            JavaScripts, Java und anderen Plug-ins nur bei vertrauenswürdigen Domains Ihrer Wahl. Informationen und
            Anleitungen, wie Sie diese Funktion bearbeiten können, erhalten Sie über den Anbieter Ihres Browsers (z. B.
            für Mozilla Firefox <a href="https://addons.mozilla.org/de/firefox/addon/noscript/" rel="noreferrer noopener"
                                   target="_blank">hier</a>).</p>
        <p>Bitte beachten Sie, dass bei der Deaktivierung von Cookies die Funktionalität unserer Website eingeschränkt
            sein kann.</p>
        <p><br><strong>Änderung Cookie-Einstellungen</strong></p>
        <p>Sie können jederzeit Ihre Cookie-Einstellungen widerrufen oder verändern. Rufen Sie dazu erneut die
            Cookie-Einstellungen über <a class="borlabs-cookie-preference" href="#">diesen Link</a> auf.</p>
        <p><strong>Externe Verlinkungen</strong></p>
        <p>Soziale Netzwerke sind auf unserer Website lediglich als Link zu den entsprechenden Diensten eingebunden.
            Nach dem Anklicken des eingebundenen Text-/Bild-Links werden Sie auf die Seite des jeweiligen Anbieters
            weitergeleitet. Erst nach der Weiterleitung werden Nutzerinformationen an den jeweiligen Anbieter
            übertragen. Informationen zum Umgang mit Ihren personenbezogenen Daten bei Nutzung dieser Websites entnehmen
            Sie bitte den jeweiligen Datenschutzbestimmungen der von Ihnen genutzten Anbieter.</p>
        <p><strong>Datenweitergabe und Empfänger</strong></p>
        <p>Eine Übermittlung Ihrer personenbezogenen Daten an Dritte findet nicht statt, außer<br>– wenn wir in der
            Beschreibung der jeweiligen Datenverarbeitung explizit darauf hingewiesen haben,<br>– wenn Sie ausdrückliche
            Einwilligung nach Art. 6 Abs. 1 S. 1 lit. a DSGVO dazu erteilt haben,<br>– die Weitergabe nach Art. 6 Abs. 1
            S. 1 lit. f DSGVO zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist und
            kein Grund zur Annahme besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe
            Ihrer Daten haben,<br>– im Falle, dass für die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. c DSGVO eine
            gesetzliche Verpflichtung besteht und<br>– soweit dies nach Art. 6 Abs. 1 S. 1 lit. b DSGVO für die
            Abwicklung von Vertragsverhältnissen mit Ihnen erforderlich ist.<br>Wir nutzen darüber hinaus für die
            Abwicklung unserer Services externe Dienstleister, die wir sorgfältig ausgewählt, schriftlich beauftragt und
            mit welchen wir erforderlichenfalls Auftragsverarbeitungsverträge gem. Art. 28 DSGVO geschlossen haben.
            Diese sind an unsere Weisungen gebunden und werden von uns regelmäßig kontrolliert. Es handelt sich hierbei
            u.a. um Dienstleister für das App-Hosting, den Versand von E-Mails sowie Wartung und Pflege unserer
            IT-Systeme usw. Die Dienstleister werden diese Daten nicht an Dritte weitergeben.</p>
        <p><strong>Datensicherheit</strong></p>
        <p>Wir treffen nach Maßgabe des Art. 32 DSGVO unter Berücksichtigung des Stands der Technik, der
            Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
            unterschiedlichen Eintrittswahrscheinlichkeit und Schwere des Risikos für die Rechte und Freiheiten
            natürlicher Personen, geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes
            Schutzniveau zu gewährleisten. Diese Website nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung
            vertraulicher Inhalte eine SSL-Verschlüsselung.</p>
        <p><strong>Dauer der Speicherung personenbezogener Daten</strong></p>
        <p>Die Dauer der Speicherung von personenbezogenen Daten bemisst sich an den einschlägigen gesetzlichen
            Aufbewahrungsfristen (z. B. aus dem Handelsrecht und dem Steuerrecht). Nach Ablauf der jeweiligen Frist
            werden die entsprechenden Daten routinemäßig gelöscht. Sofern Daten zur Vertragserfüllung oder
            Vertragsanbahnung erforderlich sind oder unsererseits ein berechtigtes Interesse an der Weiterspeicherung
            besteht, werden die Daten gelöscht, wenn sie zu diesen Zwecken nicht mehr erforderlich sind oder Sie von
            Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch gemacht machen.</p>
        <p><strong>Ihre Rechte</strong></p>
        <p>Im Folgenden finden Sie Informationen dazu, welche Betroffenenrechte das geltende Datenschutzrecht Ihnen
            gegenüber dem Verantwortlichen hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten gewährt:</p>
        <p>Das Recht, gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen.
            Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten,
            die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante
            Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder
            Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns
            erhoben wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling
            und ggf. aussagekräftigen Informationen zu deren Einzelheiten verlangen.</p>
        <p>Das Recht, gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns
            gespeicherten personenbezogenen Daten zu verlangen.</p>
        <p>Das Recht, gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen,
            soweit nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur
            Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung,
            Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist.</p>
        <p>Das Recht, gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen,
            soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber
            deren Löschung ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung,
            Ausübung oder Verteidigung von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die
            Verarbeitung eingelegt haben</p>
        <p>Das Recht, gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem
            strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen
            Verantwortlichen zu verlangen.</p>
        <p>Das Recht, sich gemäß Art. 77 DSGVO bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich
            hierfür an die Aufsichtsbehörde des Bundeslandes unseres oben angegebenen Sitzes oder ggf. die Ihres
            üblichen Aufenthaltsortes oder Arbeitsplatzes wenden.</p>
        <p>Das Recht auf Widerruf erteilter Einwilligungen gemäß Art. 7 Abs. 3 DSGVO: Sie haben das Recht, eine einmal
            erteilte Einwilligung in die Verarbeitung von Daten jederzeit mit Wirkung für die Zukunft zu widerrufen. Im
            Falle des Widerrufs werden wir die betroffenen Daten unverzüglich löschen, sofern eine weitere Verarbeitung
            nicht auf eine Rechtsgrundlage zur einwilligungslosen Verarbeitung gestützt werden kann. Durch den Widerruf
            der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten
            Verarbeitung nicht berührt.</p>
        <p><strong>Widerspruchsrecht</strong></p>
        <p><strong>Sofern Ihre personenbezogenen Daten von uns auf Grundlage von berechtigten Interessen gemäß Art. 6
            Abs. 1 S. 1 lit. f DSGVO verarbeitet werden, haben Sie gemäß Art. 21 DSGVO das Recht, Widerspruch gegen die
            Verarbeitung Ihrer personenbezogenen Daten einzulegen, soweit dies aus Gründen erfolgt, die sich aus Ihrer
            besonderen Situation ergeben. Soweit sich der Widerspruch gegen die Verarbeitung personenbezogener Daten zum
            Zwecke von Direktwerbung richtet, haben Sie ein generelles Widerspruchsrecht ohne das Erfordernis der Angabe
            einer besonderen Situation.</strong><br>Möchten Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch
            machen, genügt eine E-Mail an&nbsp;</p>
        <p><strong>Gesetzliche Verpflichtungen</strong></p>
        <p>Die Bereitstellung personenbezogener Daten für die Entscheidung über einen Vertragsabschluss, die
            Vertragserfüllung oder zur Durchführung vorvertraglicher Maßnahmen erfolgt freiwillig. Wir können die
            Entscheidung im Rahmen vertraglicher Maßnahmen jedoch nur treffen, sofern Sie solche personenbezogenen Daten
            angeben, die für den Vertragsschluss, die Vertragserfüllung bzw. vorvertragliche Maßnahmen erforderlich
            sind.</p>
        <p><strong>Automatisierte Entscheidungsfindung</strong></p>
        <p>Eine automatisierte Entscheidungsfindung oder ein Profiling gemäß Art. 22 DSGVO findet nicht statt.</p>
        <p><strong>Änderungsvorbehalt</strong></p>
        <p>Wir behalten uns vor, diese Datenschutzerklärung erforderlichenfalls unter Beachtung der geltenden
            Datenschutzvorschriften anzupassen bzw. zu aktualisieren. Auf diese Weise können wir sie den aktuellen
            rechtlichen Anforderungen anpassen und Änderungen unserer Leistungen berücksichtigen, z. B. bei der
            Einführung neuer Services. Für Ihren Besuch gilt die jeweils aktuellste Fassung.</p>
        <p>Stand dieser Datenschutzerklärung: 27.09.2021</p>
    </div>
</body>
</html>