<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="JEVis Energy Monitoring Software" name="description">
    <meta content="env" name="author">
    <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control"/>
    <meta content="no-cache" http-equiv="Pragma"/>
    <meta content="0" http-equiv="Expires"/>

    <link href="img/favicon.ico" rel="icon">
    <title>JEVis Energy Monitoring</title>
</head>

<body style="background: #efefef; font-family: 'Calibri'; font-weight: 300; line-height: 26px; color: #000;">
<div style="margin-left: auto; margin-right: auto; max-width: 980px; padding: 0 35px; box-sizing: border-box; display: block;">
    <div style="margin-top: 35px; margin-bottom: 70px; display: block;">
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="index.html" target="_self">
                <img src="img/de.gif" style="width: 33px;">
            </a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="index_en.html" target="_self">Home</a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="pp_en.html" target="_self">Privacy Policy</a>
        </div>
        <div style="float: right; display: block; margin: 8px 8px 8px 8px;">
            <a href="imprint_en.html" target="_self">Imprint</a>
        </div>
        <a href="" target="_blank">
            <img src="img/logo.png"
                 style="box-sizing: border-box; max-width: 100%; height: auto; vertical-align: middle; overflow-clip-margin: content-box; overflow: clip; width: 310px;">
        </a>
    </div>

    <div style="display: block;">
        <p><strong>Introduction and general information</strong></p>
        <p>Thank you for your interest in our website. The protection of your personal data is very important to us.
            Below you will find information about how we handle your data collected through your use of our website.
            Your data will be processed in accordance with the statutory data protection regulations.</p>
        <p><strong>Responsible person within the meaning of the GDPR</strong></p>
        <p>Envidatec GmbH<br>Veritaskai 2<br>21079 Hamburg</p>
        <p>Telephone: +49 (0) 40 / 30 08 57 – 0</p>
        <p>Email: info@envidatec.com</p>
        <p><strong>Contact details of the data protection officer</strong></p>
        <p>Proliance GmbH / www.datenschutzexperte.de<br>Dominik Fünker<br>Leopoldstr. 21<br>80802 Munich<br>data
            protection officer@<br>datenschutzexperte.de</p>
        <p><strong>Definitions</strong></p>
        <p>Our data protection declaration should be simple and understandable for everyone. In this data protection
            declaration, the official terms of the General Data Protection Regulation (GDPR) are generally used. The
            official definitions are explained in Art. 4 GDPR.</p>
        <p><strong>Web hosting</strong></p>
        <p>This website is hosted by an external service provider (hoster). This website is hosted in Germany. Personal
            data collected on this website is stored on the host's servers. This can be v. a. These include IP
            addresses, contact requests, meta and communication data, website access and other data generated via a
            website.</p>
        <p>We have concluded an order processing contract with the provider in accordance with the requirements of Art.
            28 GDPR, in which we oblige them to protect our customers' data and not to pass them on to third
            parties.</p>
        <p><strong>Server log files</strong></p>
        <p>When you access our website, it is technically necessary that data is transmitted to our web server via your
            Internet browser. The following data is recorded during an ongoing connection for communication between your
            internet browser and our web server:</p>
        <ul>
            <li>Date and time of request</li>
            <li>Name of the requested file</li>
            <li>Page from which the file was requested</li>
            <li>Access status</li>
            <li>Web browser and operating system used</li>
            <li>IP address of the requesting computer</li>
            <li>Amount of data transferred</li>
        </ul>
        <p>We collect the data listed to ensure a smooth connection to the website and to enable users to use our
            website comfortably. The log file is also used to evaluate system security and stability as well as for
            administrative purposes. The legal basis for the temporary storage of the data or log files is Art. 6 Para.
            1 lit. f GDPR.<br>For reasons of technical security, in particular to ward off attempts to attack our web
            server, we store this data for a short time. Based on this data, it is not possible for us to draw
            conclusions about individual people. After seven days at the latest, the data is anonymized by shortening
            the IP address at domain level, so that it is no longer possible to establish a connection to the individual
            user.<br>In anonymized form, the data may also be processed for statistical purposes. This data will not be
            stored together with other personal data of the user, compared with other data sets or passed on to third
            parties at any time.</p>
        <p><strong>Cookies</strong></p>
        <p>Our website uses so-called “cookies”. Cookies are small text files that are stored on your device either
            temporarily for the duration of a session (session cookies) or permanently (persistent cookies). Session
            cookies are automatically deleted at the end of your visit. Permanent cookies remain stored on your device
            until you delete them yourself or your web browser automatically solves them.</p>
        <p>Cookies have various functions. Numerous cookies are technically necessary because certain website functions
            would not work without them (e.g. the shopping cart function or language settings). Other cookies are used
            to evaluate user behavior or display advertising.</p>
        <p>Technically necessary cookies are used on the basis of Art. 6 Para. 1 lit. f GDPR saved. We have a legitimate
            interest in storing cookies in order to provide our services in a technically error-free and optimized
            manner. Other cookies will only be used with your consent based on Art. 6 Para. 1 lit. a GDPR saved. The
            consent can be revoked at any time in the future. The legal basis can also arise from Art. 6 Para. 1 lit. b
            GDPR if the processing is necessary for the performance of a contract to which the data subject is a party
            or to carry out pre-contractual measures at the request of the data subject.</p>
        <p>If cookies are used for analysis purposes, we will inform you about this separately as part of this data
            protection declaration and obtain your consent.</p>
        <p>You can set your browser so that you</p>
        <ul>
            <li>Be informed about the setting of cookies,&nbsp;&nbsp;</li>
            <li>Allow cookies only in individual cases,&nbsp;&nbsp;</li>
            <li>exclude the acceptance of cookies for certain cases or in general,&nbsp;</li>
            <li>Activate the automatic deletion of cookies when closing the browser.&nbsp;&nbsp;</li>
        </ul>
        <p>The cookie settings can be managed under the following links for the respective browsers:</p>
        <ul>
            <li><a href="http://support.google.com/chrome/bin/answer.py?hl=de&amp;hlrm=en&amp;answer=95647"
                   target="_blank">Google Chrome</a>&nbsp;
            </li>
            <li><a href="https://support.mozilla.org/de/kb/allow-and-reject-cookies" target="_blank">Mozilla Firefox</a>&nbsp;
            </li>
            <li><a href="http://windows.microsoft.com/de-DE/windows-vista/Block-or-allow-cookies" target="_blank">Edge
                (Microsoft)</a>&nbsp;
            </li>
            <li><a href="https://support.apple.com/de-de/guide/safari/sfri11471/mac" target="_blank">Safari</a>&nbsp;
            </li>
            <li><a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank">Opera</a>&nbsp;&nbsp;
            </li>
        </ul>
        <p>You can also individually manage cookies from many companies and functions that are used for advertising. To
            do this, use the appropriate user tools, available at https://www.aboutads.info/choices/ or <a
                    href="http://www.youronlinechoices.com/uk/your-ad-choices" rel="noreferrer noopener"
                    target=" _blank">here</a>.</p>
        <p>Most browsers also offer a so-called “Do Not Track” function. When this function is activated, the respective
            browser informs advertising networks, websites and applications that you are not being used for behavioral
            advertising and Want to be “tracked” in a similar way.</p>
        <p>You can find information and instructions on how to edit this function, depending on your browser provider,
            under the following links:</p>
        <ul>
            <li><a href="https://support.google.com/chrome/answer/2790761?co=GENIE.Platform=Desktop&amp;hl=de"
                   target="_blank">Google Chrome</a>&nbsp;
            </li>
            <li><a href="https://www.mozilla.org/de/firefox/dnt/" target="_blank">Mozilla Firefox</a>&nbsp;&nbsp;</li>
            <li><a href="https://support.microsoft.com/de-de/help/17288/windows-internet-explorer-11-use-do-not-track"
                   target="_blank">Edge (Microsoft)</a>&nbsp;&nbsp;&nbsp;
            </li>
            <li><a href="https://support.apple.com/de-de/guide/safari/sfri40732/13.0/mac/10.15"
                   target="_blank">Safari</a>&nbsp;
            </li>
            <li><a href="http://help.opera.com/Windows/12.10/de/notrack.html" target="_blank">Opera</a>&nbsp;</li>
        </ul>
        <p>In addition, you can prevent so-called scripts from loading by default. “NoScript” allows JavaScript, Java
            and other plug-ins to be executed only on trusted domains of your choice. Information and instructions on
            how to edit this function can be obtained from your browser provider (e.g. for Mozilla Firefox <a
                    href="https://addons.mozilla.org/de/firefox/addon/noscript/" rel="noreferrer noopener"
                    target="_blank">here</a>).</p>
        <p>Please note that if you deactivate cookies, the functionality of our website may be restricted.</p>
        <p><br><strong>Change cookie settings</strong></p>
        <p>You can revoke or change your cookie settings at any time. To do this, access the cookie settings again via
            <a class="borlabs-cookie-preference" href="#">this link</a>.</p>
        <p><strong>External links</strong></p>
        <p>Social networks are only integrated on our website as links to the corresponding services. After clicking on
            the embedded text/image link, you will be redirected to the respective provider's website. Only after
            forwarding is user information transferred to the respective provider. For information on how your personal
            data is handled when using these websites, please refer to the respective data protection regulations of the
            providers you use.</p>
        <p><strong>Data transfer and recipients</strong></p>
        <p>Your personal data will not be transferred to third parties, unless<br>- if we have explicitly pointed this
            out in the description of the respective data processing,<br>- if you have given your express consent in
            accordance with Art. 6 Para. 1 Sentence 1 lit have an interest in not disclosing your data,<br>- in the
            event that there is a legal obligation for the disclosure in accordance with Art. 6 Para. 1 S. 1 lit. b GDPR
            is necessary for the processing of contractual relationships with you.<br>We also use external service
            providers to process our services, which we carefully select, commission in writing and with whom we, if
            necessary, enter into order processing contracts in accordance with Art. 28 GDPR. These are bound to our
            instructions and are checked by us regularly. These include service providers for app hosting, sending
            emails as well as maintenance and upkeep of our IT systems, etc. The service providers will not pass this
            data on to third parties.</p>
        <p><strong>Data security</strong></p>
        <p>We make decisions in accordance with Art. 32 GDPR, taking into account the state of the art, the
            implementation costs and the type, scope, circumstances and purposes of the processing as well as the
            different probability of occurrence and severity of the risk to the rights and freedoms of natural persons ,
            appropriate technical and organizational measures to ensure a level of protection appropriate to the risk.
            This website uses SSL encryption for security reasons and to protect the transmission of confidential
            content.</p>
        <p><strong>Duration of storage of personal data</strong></p>
        <p>The duration of storage of personal data is based on the relevant statutory retention periods (e.g. from
            commercial law and tax law). After the respective deadline has expired, the relevant data will be routinely
            deleted. If data is required to fulfill or initiate a contract or we have a legitimate interest in
            continuing to store it, the data will be deleted if it is no longer required for these purposes or if you
            exercise your right of revocation or objection.</p>
        <p><strong>Your rights</strong></p>
        <p>Below you will find information about which data subject rights the applicable data protection law grants you
            vis-à-vis the person responsible regarding the processing of your personal data:</p>
        <p>The right to request information about your personal data processed by us in accordance with Art. 15 GDPR. In
            particular, you can obtain information about the purposes of processing, the category of personal data, the
            categories of recipients to whom your data has been or will be disclosed, the planned storage period, the
            existence of a right to rectification, deletion, restriction of processing or objection, the existence of a
            Right to complain, the origin of your data, if it was not collected by us, as well as the existence of
            automated decision-making including profiling and, if necessary, meaningful information about its
            details.</p>
        <p>The right to immediately request the correction of incorrect or complete personal data stored by us in
            accordance with Art. 16 GDPR.</p>
        <p>The right to request the deletion of your personal data stored by us in accordance with Art. 17 GDPR, unless
            the processing is carried out to exercise the right to freedom of expression and information, to fulfill a
            legal obligation, for reasons of public interest or to assert rights , exercise or defense of legal claims
            is necessary.</p>
        <p>The right to request the restriction of the processing of your personal data in accordance with Art. 18 GDPR
            if you dispute the accuracy of the data, the processing is unlawful but you refuse its deletion and we no
            longer need the data However, you need this to assert, exercise or defend legal claims or you have objected
            to the processing in accordance with Art. 21 GDPR</p>
        <p>The right, in accordance with Art. 20 GDPR, to receive your personal data that you have provided to us in a
            structured, common and machine-readable format or to request that it be transmitted to another person
            responsible.</p>
        <p>The right to complain to a supervisory authority in accordance with Art. 77 GDPR. As a rule, you can contact
            the supervisory authority of the federal state where we are based above or, if applicable, that of your
            usual place of residence or place of work.</p>
        <p>The right to revoke consent given in accordance with Article 7 Paragraph 3 of the GDPR: You have the right to
            revoke your consent to the processing of data at any time with effect for the future. In the event of
            revocation, we will delete the data concerned immediately unless further processing can be based on a legal
            basis for processing without consent. The revocation of consent does not affect the lawfulness of the
            processing carried out based on the consent before its revocation.</p>
        <p><strong>Right to object</strong></p>
        <p><strong>If your personal data is processed by us on the basis of legitimate interests in accordance with
            Article 6 Paragraph 1 Sentence 1 Letter f of the GDPR, you have the right to object to the processing of
            your personal data in accordance with Article 21 of the GDPR to enter data if this is for reasons arising
            from your particular situation. If the objection is directed against the processing of personal data for the
            purpose of direct advertising, you have a general right of objection without the need to specify a special
            situation.</strong><br>If you would like to exercise your right of withdrawal or objection, an E is
            sufficient -Email to&nbsp;</p>
        <p><strong>Legal Obligations</strong></p>
        <p>The provision of personal data for the decision to conclude a contract, fulfill the contract or carry out
            pre-contractual measures is voluntary. However, we can only make the decision within the framework of
            contractual measures if you provide such personal data that is necessary for the conclusion of the contract,
            the fulfillment of the contract or pre-contractual measures.</p>
        <p><strong>Automated decision making</strong></p>
        <p>Automated decision-making or profiling in accordance with Art. 22 GDPR does not take place.</p>
        <p><strong>Subject to change</strong></p>
        <p>We reserve the right to adapt or update this data protection declaration if necessary, taking into account
            the applicable data protection regulations. This allows us to adapt them to current legal requirements and
            take into account changes to our services, e.g. B. when introducing new services. The most current version
            applies to your visit.</p>
        <p>Status of this data protection declaration: September 27, 2021</p>
    </div>
</body>
</html>