.table-row-cell:odd{
    -fx-background-color:lightblue;
}

.tree-table-row-cell:odd{
    -fx-background-color: #f5f5f0;
    -fx-highlight-text-fill: black;
    -fx-highlight-text-fill: black;
}

.tree-table-row-cell:focused{
    -fx-highlight-text-fill: black;
    -fx-background-color: #008dbd;
}