


.tree-table-row-cell: odd{
     -fx-background-color: #f5f5f0;
     -fx-highlight-text-fill: black;
 }

 .tree-table-row-cell: hover {
     -fx-background-color: #0096c9;
     -fx-highlight-text-fill: white;
 }

 .tree-table-row-cell: selected{
     -fx-background-color: #0096c9;
     -fx-highlight-text-fill: white;
 }