.root {
    -fx-base: #e2e2e2;
    -fx-text-color: black;
    -fx-text-field-background: white;
    -fx-accent: #1a719c;
    -fx-focus-color: -fx-accent;

    -fx-default-button-background: #4dadf7;
    -fx-default-button-text-fill: #FFFFFF;
    -fx-tree-background: f4f4f4;

    -fx-table-color-even: #f1f1f1;
    -fx-table-color-odd: #ffffff;
    -fx-table-color-empty: #eeeeee;
    -fx-table-color-selected: #51aaa5;
    -fx-table-color-hover: #b5bbb7;
    -fx-table-color-background: -fx-table-color-even;
    -fx-table-color-header: white;
    -fx-table-border-color: black;

    -fx-chart-background: #ffffff;

    -fx-object-plugin-text-color: #505050;
    -fx-object-plugin-border-color: #ebebeb;
    -fx-object-plugin-background-color: #fcfcfc;

    -toolbarSVG-background-color: #535360;
    -pluginSVG-background-color: #1d24a6;

    -fx-hyperlink-underline: #51aaa5;
}