.root{
    -tab-text-color: -fx-text-base-color ;
}

.toolbarSVG{
    -fx-background-color: -toolbarSVG-background-color;
}
.pluginSVG{
    -fx-background-color: -pluginSVG-background-color;
}

.button{
    -fx-background-color: derive(-fx-base, 80%);
}

.object-plugin-left{
    -fx-background-color: -fx-base;
}

.object-editor-side-node{
    -fx-background-color: -fx-text-field-background;
}

.main-split-pane, main-view-pane{
    -fx-background-color: derive(-fx-base, 70%);
}

#objecttree{
    -fx-background-color: -fx-tree-background;
}

.title{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.dialog-header{
    -fx-background-color: linear-gradient(-fx-base, derive(-fx-base, 80%));
}

/* ObjectPlugin */

.titled-pane {
    -fx-text-fill: -fx-object-plugin-text-color;
}

titled-pane:focused .content {
    -fx-background-color: -fx-object-plugin-background-color;
    -fx-border-color: -fx-object-plugin-border-color;
}

.titled-pane .content {
    -fx-background-color: -fx-object-plugin-background-color;
    -fx-border-color: -fx-object-plugin-border-color;
}

.titled-pane:focused > .title > .arrow-button .arrow {
    /* do not highlight the title pane arrow on focus */
    -fx-background-color: derive(-fx-object-plugin-background-color, -60%);
}

.main-split-pane, main-view-pane{
    -fx-background-color: -fx-tree-background;
}

/* AlarmPlugin */

.hyperlink {
    -fx-underline: -fx-hyperlink-underline;
}

/* Toolbar */
.toolbar, .children-editor-plugin, .generic-attribute-extension, valid-parent-editor{
    -fx-background-color: -fx-base;
}

/* NonConformityPlugin */
.nonconformityOK{
    -fx-border-color: black ;
    -fx-border-width: 0 ;
}

.nonconformityError{
    -fx-border-color: red ;
    -fx-border-width: 2 ;
}

/* for pdf/image view */
.pagination { -fx-rotate:180; }
.pagination .pagination-control { -fx-rotate:180; }
.pagination .page { -fx-rotate:180; }

/* TableView/TreeTableView */

.table-view,
.tree-table-view{
    -fx-background-color: -fx-table-color-background;
    -fx-font-family: "Calibri";

    -fx-border-style: solid;
    -fx-border-width: 0.013333em;
    -fx-border-color: -fx-table-border-color;

}

.table-view:focused,
.tree-table-view:focused{
    -fx-background-color: -fx-table-color-background;
}

.table-view .column-header,
.tree-table-view .column-header{
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0.083333em, 0.083333em;
    -fx-border-color: transparent derive(-fx-table-border-color, 80%) derive(-fx-table-border-color, 80%) transparent;
}

.table-view .filler,
.tree-table-view .filler{
    -fx-background-color: transparent;
}

.table-view .column-header-background,
.tree-table-view .column-header-background{
    -fx-background-color: -fx-table-color-empty;
    -fx-background-color: -fx-table-color-header;
}

.table-view .column-header-background .label,
.tree-table-view .column-header-background .label{
    -fx-background-color: transparent;
    /*-fx-background-color: #FFFFFF00;*/
    -fx-text-fill: -fx-text-color;
    -fx-font-weight: normal;
}

.table-row-cell:odd,
.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-color-odd;
}

.table-row-cell:even,
.tree-table-row-cell:even {
    -fx-background-color: -fx-table-color-even;
}

.table-row-cell:odd:filled:selected,
.table-row-cell:even:filled:selected,
.tree-table-row-cell:odd:filled:selected,
.tree-table-row-cell:even:filled:selected {
    -fx-background-color: -fx-table-color-selected;
    -fx-text-fill: -fx-text-color;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-table-cell-border-color: -fx-text-field-background;
}

.table-row-cell:empty,
.tree-table-row-cell:empty{
    -fx-background-color: -fx-table-color-background;
}

.table-row-cell:odd:filled:hover,
.table-row-cell:even:filled:hover,
.tree-table-row-cell:odd:filled:hover,
.tree-table-row-cell:even:filled:hover{
    -fx-background-color: -fx-table-color-hover;
}


.table-view .show-hide-columns-button,
.tree-table-view .show-hide-columns-button{
    -fx-background-color: -fx-table-color-header;
    -fx-border-color: transparent;
    -fx-border-color: derive(-fx-table-border-color, 80%) derive(-fx-table-border-color, 80%) derive(-fx-table-border-color, 80%) derive(-fx-table-border-color, 80%);
}


.table-view .show-hide-column-image,
.tree-table-view .show-hide-column-image {
    -fx-background-color: -fx-mark-color;
    -fx-padding: 0.25em; /* 3px */
    -fx-shape: "M398.902,298.045c0.667,0,1.333,0,2,0c0,0.667,0,1.333,0,2c0.667,0,1.333,0,2,0c0,0.667,0,1.333,0,2c-0.667,0-1.333,0-2,0c0,0.666,0,1.332,0,1.999c-0.667,0-1.333,0-2,0c0-0.667,0-1.333,0-1.999c-0.666,0-1.333,0-1.999,0c0-0.667,0-1.334,0-2c0.666,0,1.333,0,1.999,0C398.902,299.378,398.902,298.711,398.902,298.045z";
}

/* TreeView and TreeCell */

.tree-view {
    -fx-skin: "com.sun.javafx.scene.control.skin.TreeViewSkin";
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;

    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    -fx-padding: 1; /* 0.083333em; */
}

.tree-view:focused {
    -fx-background-color: -fx-focus-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: 0, 0, 1;
    -fx-background-radius: 1.4, 0, 0;

    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    -fx-padding: 1; /* 0.083333em; */
}

.tree-view .scroll-bar:vertical{
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: 0.0 0.0 0.0 0.0;
}

.tree-view .scroll-bar:horizontal{
    -fx-background-insets: 0, 1 0 0 0;
    -fx-padding: 0.0 0.0 0.0 0.0;
}

.tree-view:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.tree-view .corner {
    -fx-background-color: -fx-box-border, -fx-base;
    -fx-background-insets: 0, 1 0 0 1;
}

.tree-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.TreeCellSkin";
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-indent: 10;
}

.tree-cell .label {
    -fx-padding: 0.0em 0.0em 0.0em 0.25em; /* 0 0 0 3 */
}

.tree-view:focused .tree-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}

.tree-view:focused .tree-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.tree-view:focused .tree-cell:filled:selected, .tree-view:focused .tree-cell:filled:selected:hover {
    /*-fx-background: -fx-accent;*/

    -fx-background-color: black;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.tree-view:focused .tree-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

.tree-cell:filled:selected:focused:disabled, .tree-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.tree-cell .tree-disclosure-node {
    /** put a bit of padding around the disclosure node to make the clicking region larger */
    -fx-padding: 4 2 4 8;
    -fx-background-color: transparent;
}

.tree-cell .tree-disclosure-node:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-padding: 0.333333em; /* 4 */
    -fx-shape: "M 0 -4 L 8 0 L 0 4 z";
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-rotate: 90;
}

.tree-cell:filled:selected .tree-disclosure-node .arrow {
    -fx-background-color: -fx-selection-bar-text;
}

.tree-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}

.tree-cell:filled:hover .tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-color;
}

.tree-view:focused .tree-cell:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

.tree-cell:filled:selected:hover .tree-disclosure-node .arrow {
    -fx-background-color: -fx-selection-bar-text;
}

#watermark{
    -fx-background-color: null;
    /*-fx-background-image: url("/org/jevis/jeconfig/image/logo_JEVis_OPEN_Ohne_Schatten_long_v0_10.png");*/
    /*-fx-background-image: url("/icons/logo_JEVis_OPEN_Ohne_Schatten_long_v0_10.png");*/
    /*-fx-background-image: url("/icons/logo_coffee_klein.png");*/

    -fx-background-position: right bottom, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 220 66;
    -fx-background-insets: 20, 20;
}

.titled-pane > .title
{
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane > *.content
{
    -fx-background-color: transparent;
    /*    -fx-background-insets: 0, 0 1 1 1;
        -fx-padding: 0.167em;*/
}

.tab-label {
    -fx-text-fill: -tab-text-color ;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.titled-pane {
    -fx-animated: false;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-border-insets: 0 2 0 2;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
}

.titled-pane:focused {
    /*-fx-effect: dropshadow(three-pass-box, #9F9F9F, 15, 0, 0, 0);*/
    -fx-text-fill: -fx-accent;

    -fx-animated: false;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-border-insets: 0 2 0 2;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
}

.titled-pane:focused .content {
    -fx-padding: 0px;
    -fx-background-radius: 0;
    -fx-border-width: 2 0 2 0;
    -fx-border-insets: 0;
}

.titled-pane .content {
    -fx-padding: 0px;
    -fx-background-radius: 0;
    -fx-border-width: 2 0 2 0;
    -fx-border-insets: 0;
}

.titled-pane > .title  {
    -fx-background-radius: 0, 0, 0;
    -fx-font: 14px System;
    -fx-background-color: transparent;
}

.titled-pane:focused > .title  {
    -fx-background-radius: 0, 0, 0;
    -fx-font: 14px System;
    -fx-background-color: transparent;
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-font: 14px System;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.search-box{
    -fx-background-color: -fx-base;
}

.search-box .text-field {
    -fx-prompt-text-fill: derive(-fx-text-color, 80%);
    -fx-background-color: -fx-text-field-background;
    -fx-background-insets: 1;
    -fx-background-radius: 15;
    -fx-padding: -9 5 -11 0;
    /*    -fx-border-image-source: url("/org/jevis/jeconfig/image/1394564949_search_48.png");
        -fx-border-image-slice: 12 12 12 22 fill;
        -fx-border-image-width: 12 12 12 22;
        -fx-border-image-repeat: stretch; */
    -fx-font-size: 13px;
}

.search-box .text-field:focused {

    -fx-background-color: -fx-focus-color, -fx-text-field-background;
    -fx-background-insets: -1.4, 1;
    -fx-background-radius: 14.4;
}

.search-box .button {
    -fx-background-color: null;
    -fx-background-image: url("/icons/1394564949_search_48.png");
}

.search-box .button:hover {
    -fx-background-image: url("/icons/1394564949_search_48.png");
}

.combo-box-popup .list-cell {
    -fx-padding: 4 0 4 20 ;
}

.combo-box-popup .list-cell:section-header {
    -fx-font: italic 10pt sans-serif ;
    -fx-padding: 4 0 4 5 ;
}

.button:default {
    -fx-background-color: -fx-default-button-background;
    -fx-text-fill: -fx-default-button-text-fill;
}

/* ScrollPanes */

.scroll-pane > .virtual-flow > .scroll-bar > .increment-button,
.scroll-pane > .virtual-flow > .scroll-bar > .decrement-button,
.tree-table-view > .virtual-flow > .scroll-bar > .increment-button,
.tree-table-view > .virtual-flow > .scroll-bar > .decrement-button,
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 1;
}

.scroll-pane > .virtual-flow > .scroll-bar:vertical,
.scroll-pane > .virtual-flow > .scroll-bar:vertical > .track,
.scroll-pane > .virtual-flow > .scroll-bar:vertical > .track-background,
.scroll-pane > .virtual-flow > .scroll-bar:horizontal,
.scroll-pane > .virtual-flow > .scroll-bar:horizontal > .track,
.scroll-pane > .virtual-flow > .scroll-bar:horizontal > .track-background,
.tree-table-view > .virtual-flow > .scroll-bar:vertical,
.tree-table-view > .virtual-flow > .scroll-bar:vertical > .track,
.tree-table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.tree-table-view > .virtual-flow > .scroll-bar:horizontal,
.tree-table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.tree-table-view > .virtual-flow > .scroll-bar:horizontal > .track-background,
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
