[Unit]
Description=JECalc


[Service]
User=jevis
Group=jevis
Type=simple
ExecStart=/home/jevis/jevis/bin/jecalc


[Install]
WantedBy=multi-user.target

