[Unit]
Description=JEDataCollector


[Service]
User=jevis
Group=jevis
Type=simple
ExecStart=/home/jevis/jevis/bin/jewebservice


[Install]
WantedBy=multi-user.target

