[Unit]
Description=JEReport


[Service]
User=jevis
Group=jevis
Type=simple
ExecStart=/home/jevis/jevis/bin/jereport


[Install]
WantedBy=multi-user.target

