[Unit]
Description=JEStatus


[Service]
User=jevis
Group=jevis
Type=simple
ExecStart=/home/jevis/jevis/bin/jestatus


[Install]
WantedBy=multi-user.target

